<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="parentTableName" value="Artist"/>
		<add key="parentTableIDNames" value="ArtistID"/>
		
		<add key="childTableName" value="Song"/>
		<add key="childTableIDNames" value="SongID"/>
		<add key="childTableIDTypes" value="1"/>
		<add key="childTableParentIDNames" value="ArtistID"/>
		<add key="childTableParentIDTypes" value="1"/>
		<add key="childTableFillableFields" value="Name,Minutes,Genre"/>
		<add key="childTableInsertionNames" value="ArtistID,Name,Minutes,Genre"/>
		<add key="childTableInsertionParentNames" value="ArtistID,,,"/>
		<add key="childTableInsertionTypes" value="1,2,1,2"/>
		<add key="childTableUpdateNames" value="Name,Minutes,Genre"/>
		<add key="childTableUpdateTypes" value="2,1,2"/>

		<!-- 
		<add key="parentTableName" value="Funder"/>
		<add key="parentTableIDNames" value="FunderID"/>
		
		<add key="childTableName" value="Tour"/>
		<add key="childTableIDNames" value="TourID"/>
		<add key="childTableIDTypes" value="1"/>
		<add key="childTableParentIDNames" value="FunderID"/>
		<add key="childTableParentIDTypes" value="1"/>
		<add key="childTableFillableFields" value="Name,Budget"/>
		<add key="childTableInsertionNames" value="FunderID,Name,Budget"/>
		<add key="childTableInsertionParentNames" value="FunderID,,"/>
		<add key="childTableInsertionTypes" value="1,2,1"/>
		<add key="childTableUpdateNames" value="Name,Budget"/>
		<add key="childTableUpdateTypes" value="2,1"/>
		-->
	</appSettings>
	<connectionStrings>
		<add name="connection" connectionString="Data Source = DESKTOP-RP3BIR1\SQLEXPRESS; Initial Catalog = RoundTheGlobe; Integrated Security = True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>